backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.3
bottle==0.12.9
bqplot==0.5.5
bs4==0.0.1
certifi==2016.2.28
cvxopt==1.1.7
cycler==0.9.0
decorator==4.0.9
docutils==0.12
Flask==0.10.1
Flask-SocketIO==2.0
functools32==3.2.3.post2
funkload==1.17.2b20160317
goto==0.1.3
greenlet==0.4.9
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
lolcat==0.44
lxml==3.7.3
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
nbconvert==4.1.0
nbformat==4.0.1
nltk==3.1
notebook==4.1.0
numpy==1.11.2+mkl
oauthlib==2.0.1
pandas==0.18.0
path.py==8.1.2
pickleshare==0.6
psycopg2==2.6.1
PyAudio==0.2.9
Pygments==2.1.3
pyparsing==2.0.7
pyreadline==2.1
python-dateutil==2.4.2
python-engineio==0.9.0
python-linkedin==4.1
python-socketio==1.2
pytz==2015.7
pyzmq==15.2.0
qtconsole==4.2.0
requests==2.9.1
requests-oauthlib==0.8.0
scikit-learn==0.17
scipy==0.16.1
selenium==3.3.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
slackclient==1.0.0
SoundFile==0.8.1
tcpwatch==1.2.1
tex==1.8
tornado==4.3
traitlets==4.2.1
vpnotebook==0.1.3
vpython==0.2.0b15
websocket-client==0.37.0
webunit==1.3.10
Werkzeug==0.11.9
